<div class="alert alert-success" role="alert">
     <h4 class="alert-heading">상세보기 페이지 입니다.</h4>
    <hr></hr>
    <h3>해당 글의 상세내용</h3><%=@ask.question%></br>
    <h3>당신의 아이피</h3><%=@ask.ip_address%></br>
    <h3>당신의 지역</h3><%=@ask.region%>
</div>
<a class="btn btn-success" href="/ask">돌아가기</a>