<h1>이번주 로또 번호는 <%=@last_number.lotto_number%> 입니다</h1>
<h2>그동안의 로또 번호들</h2>
<form action="lotto_number" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="submit" value="번호생성"/>
</form>
<ul>
    <% @lotto_numbers.each do |lotto| %>
        <li><%=lotto.lotto_number%></li>
    <% end %>
</ul>